<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- [binds] to recipe property  in recipe.component.ts
    passes the recipeEl to the onRecipeSelected method  -->
    <app-recipe-item
    *ngFor="let recipeEl of recipes"
    [recipe]="recipeEl"
    (recipeSelected)="onRecipeSelected(recipeEl)"
    ></app-recipe-item>
  </div>
</div>

 <!-- fill spaces with dynamic data from recipe model .ts full path of image -->